<h2 style="text-align: {{ section.settings.title_allignment}}">{{ section.settings.title }}</h2>
{% schema %}
{
  "name": "promotions-group",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "label": "title",
      "id": "title"
    },
    {
      "type": "select",
      "label": "Title Alligment",
      "id": "title_allignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [{ "name": "promotions-group" }]
}
{% endschema %}
