<h2 style="{{ section.settings.title_allignment }}">{{ section.settings.title }}</h2>
{% schema %}
{
  "name": "Promotion group",
  "tag": "div",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "label": "title",
      "id": "titleId"
    },
    {
      "type": "select",
      "label": "Title Allignment",
      "id": "title_allignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Custom Promotion group XX"
    }
  ]
}
{% endschema %}
