<h2 style="text-align: {{ section.settings.title_allignment}}">{{ section.settings.title }}</h2>
{% for block in section.blocks %}
  {% if block.type == 'promotion' %}
    <h3>{{ block.settings.title }}</h3>
    {{ block.settings.image_picker | image_url: width: 50, height: 50 | image_tag }}
  {% endif %}
{% endfor %}
{% schema %}
{
  "name": "promotions-group",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "label": "title",
      "id": "title"
    },
    {
      "type": "select",
      "label": "Title Alligment",
      "id": "title_allignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "promotion",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "image_picker",
          "id": "select_image_promotion",
          "label": "select_image_promotion"
        }
      ]
    }
  ],
  "presets": [{ "name": "promotions-group" }]
}
{% endschema %}
