<h2>{{ section.settings.title }}</h2>
{% schema %}
{
  "name": "promotions-group",
  "tag": "section",
  "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "label": "title",
      "id": "title"
    }
  ],
  "presets": [{ "name": "promotions-group" }]
}
{% endschema %}
